#################
#### LLM API ####
#################

export OPENAI_BASE_URL=""
export OPENAI_API_KEY=""
export MODEL_NAME="gpt-4.1-mini"


#######################
#### Knowldge Base ####
#######################

export FREEBASE_SPARQL_ENDPOINT=""
export WIKIDATA_SPARQL_ENDPOINT=""